/* Simple reset of margins and padding etc + adding box-sizing + font-size adjustment */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 62,5% of standard (16px) = 10px*/
}
