// button styling using variables 
button, 
input[type=submit]{
    color: $color-navs;
    background-color: $bg-color-header;
    border: $border;
    border-radius: $border-rad;
    font-family: $font-special;
    font-size: $font-xs;
    margin: $margin;
    padding: $padding;
}

button:hover {
    color: $color-hover;
    border: $border-hover;
    text-decoration: underline;
}

.delete {
    color: $color-navs;
    border: $color-navs;
    border-radius: $border-rad;
    background-color: $color-hover;
    font-family: $font-special;
    font-size: $font-xs;
    margin: $margin;
    padding: $padding;
}

.delete:hover {
    color: $color-hover;
    background-color: $bg-color-header;
    text-decoration: underline;

}