// Media queries for 2 sizes smaller or larger than 768px

//Setting the width of the grid
$grid_bp_md: 768; //used for smaller screens

// Mixin - grid - smaller screens
@media screen and (max-width: ($grid_bp_md * 1px)) {
    .container,
    .footer-wrapper {
        @include grid(1, 0);
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr  {
        display: block;
        text-align: center;
    }


    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tbody td {
        font-size: $font-xs;
        padding-bottom: $padding-text;
    }

    tr {
        border-bottom: $border-hover;
        padding: $padding-heading;    
    }

    form {
        max-width: 100%;
    }
    img {
        max-width: 16vh;
        max-height: 16vh;
    }

}
// Selector inheritance - @mixin grid larger screens
@media screen and (min-width: (($grid_bp_md * 1px) + 1px)) {
    table,
    .footer-wrapper {
        @include grid(1, 0);
    }

    .date {
        max-width: 100%;
    }
    thead th {
        padding-left: $padding-text;
        font-size: $font-s;
        text-align: left;
    }
    
    tbody td {
        border-bottom: $border-hover;
        padding-left: $padding-text;
        font-size: $font-xs;
    }
    form {
        @include grid(2, 8%);
    }
}
