// form styling
form {
    background-color: $color-navs;
    border: $border-special;
    border-radius: $border-rad;
    font-family: $font-special;
    font-size: $font-xs;
    margin: $margin;
    padding: $padding;
}

label {
    color: $color-headings;
    font-family: $font-special;
    font-size: $font-xs;
    margin: $margin;
}

input {
    width: 95%;
    color: $color;
    background-color: $bg-color;
    border: $border-special;
    border-radius: $border-rad;
    font-family: $font-special;
    font-size: $font-xs;
    margin: $margin;
    padding: $padding;
}