// form styling
form {
    background-color: $bg-color;
    border: $border-hover;
    border-radius: $border-rad;
    font-family: $font-special;
    font-size: $font-xs;
    margin: $margin;
    padding: $padding;
}

label {
    color: $color-headings;
    font-family: $font-special;
    font-size: $font-xs;
    margin: $margin;
}

input {
    min-width: 400px;
    color: $color;
    background-color: $bg-color;
    border: $border-hover;
    border-radius: $border-rad;
    font-family: $font-special;
    font-size: $font-xs;
    margin: $margin;
    padding: $padding;
}