//headings styling
h1 {
    font-family: $font-headings;
    color: $color-headings;
    padding-top:$padding-heading;
    padding-bottom: $padding-heading;
    text-align: center;
    font-size: $font-xl;
}
// Selector inheritance - h1 above
h2 {
    @extend h1;
    font-size: $font-l;
}
h3 {
    @extend h1;
    font-size: $font-m;
}
h4 {
    @extend h1;
    font-size: $font-s;
}
h5 {
    @extend h1;
    font-size: $font-xs;
}
h6 {
    @extend h1;
    font-size: $font-xxs;
}

