// table styling

table {
    margin: $margin;
    padding: $padding;
}
thead td {
    padding-left: $padding-text;
    font-size: $font-s;
}

tbody td {
    border: $border-hover;
    padding-left: $padding-text;
    font-size: $font-xs;
}





